<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<title>Editar Paciente</title>
</head>
<body>

	<div class="container">
		<form action="#" th:action="@{/atualizar/{id}(id=${paciente.id})}" 
		th:object="${paciente}" class="needs-validation" method="POST"
		style="margin: 50px auto; width: 300px; padding: 10px 20px"
		>
			
			<div class="mb-3">
				<label class="form-label" for="nome">Nome Produto:</label>
				<input class="form-control" type="text" id="nome" th:field="*{nome}"  placeholder="">
				<span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
			</div>
			
			<div class="mb-3">
				<label class="form-label" for="cpf">cpf:</label>
				<input class="form-control" type="text" id="cpf" th:field="*{cpf}" placeholder="">
				<span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
			</div>
			
			<div class="mb-3">
				<label class="form-label" for="especialidade">Especialidade:</label>
				<input class="form-control" type="text" id="especialidade" th:field="*{especialidade}">
				<span th:if="${#fields.hasErrors('especialidade')}" th:errors="*{especialidade}"></span>
			</div>
			
			<button type="submit" class="btn btn-primary">Enviar</button>
		</form>
	
	</div>
	
	

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>